{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    {{ title }}
{% endblock %}

{% block css_block %}
<style>
    body {
        background-color: #f8f9fa;
        font-family: 'Arial', sans-serif;
    }

    /* Form Container Styling */
    .form-container {
        max-width: 500px;  /* Increased width */
        margin: 40px auto; /* Reduced space from top to make form appear higher */
        background-color: #ffffff;
        padding: 50px;  /* Increased padding for more space */
        border-radius: 10px;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
        font-size: 16px;
    }

    h2 {
        text-align: center;
        font-size: 2rem;  /* Increased font size */
        color: #343a40;
        margin-bottom: 30px;  /* Increased space below heading */
    }

    /* Button Styling */
    .form-container button {
        width: 100%;
        padding: 15px;  /* Increased padding */
        font-size: 18px;  /* Increased font size */
        font-weight: bold;
        background-color: #28a745;
        border: none;
        color: #fff;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .form-container button:hover {
        background-color: #218838;
    }
</style>
{% endblock %}

{% block body_block %}
<div class="form-container">
    <h2>Change your current password</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Change Password</button>
    </form>
</div>
{% endblock %}
